# LaTeX temporary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Bibliography auxiliary files (bibtex/biblatex/biber)
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Intermediate documents
*.dvi
*.xdv
*-converted-to.*

# Generated figures
*.eps
*.pdf

# Exception: Keep the main PDF files
!main.pdf
!main_new.pdf
!main_with_sections.pdf

# Latexmk
.latexmk

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# Glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls

# lstlisting environment
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# Other
*.atfi
*.nlo
*.tdn
*.brf
*.mw